{% extends "base.html" %}

{% block title %}Cart{% endblock title %}

{% block main %}
	{% if cart > 0 %}

	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">Items in your cart</div>

		<!-- Table -->
		<table class="table">
			<tr>
				<th>Item name</th>
				<th>Item description</th>
				<th>Price</th>
			</tr>
			{% for item in items %}
			<tr>
				<td>{{ item.name }} (<a href="#" onclick="remove_from_cart('{{ item.id }}');"><span class="glyphicon glyphicon-trash" style="color: red;"></span></a>)</td>
				<td>{{ item.desc }}</td>
				<td>{{ item.price[:-2] }}.{{ item.price[-2:] }}€</td>
			</tr>
			{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td><b>Total price: {{ total[:-2] }}.{{ total[-2:] }}€</b></td>
			</tr>
		</table>
	</div>

	<!-- CLEAR CART -->
	<div class="col-sm-6">
		<div class="panel panel-warning">
			<div class="panel-heading"><a href="#" onclick="clear_cart();"><h3>Clear Cart</h3></a></div>
			<div class="panel-footer">This button will clear your cart of any products!</div>
		</div>
	</div>
	<!-- CHECKOUT -->
	<div class="col-sm-6">
		<div class="panel panel-success">
			<div class="panel-heading"><a href="{{ root }}checkout"><h3>Checkout</h3></a></div>
			<div class="panel-footer">This Shop is only for DEMONSTARTION ONLY ! <br>You get NOTHING in exchange for NOTHING ! <br>Your account ballance will reset to 99999 € after every purchase!</div>
		</div>
	</div>
	{% else %}
	<div class="panel panel-default" style="text-align: center;">
		<!-- Default panel contents -->
		<div class="panel-heading"><h1>Your cart is currently empty!</h1></div>
		<div class="panel-footer"><a href="{{ root }}products"><h4>Go Shopping!</h4></a></div>
	</div>
	{% endif %}
{% endblock main %}

{% block after %}
<script>
	function remove_from_cart(item_id)
    {
		event.preventDefault()
        $.ajax({
            url: '{{ root }}remove_from_cart',
            type: 'POST',
            data: {
                item_id: item_id
            },
            success: function (response) {
				var counter = parseInt($("#items_in_cart_hidden").val());
				counter--;
				$("#items_in_cart_hidden").val(counter);
				$("#items_in_cart").text(counter);
				location.reload()
            },
            error: function (response) {
            }
        });

    };
	function clear_cart()
    {
		event.preventDefault()
        $.ajax({
            url: '{{ root }}clear_cart',
            type: 'POST',
            data: {
                verify: "verify"
            },
            success: function (response) {
				$("#items_in_cart_hidden").val(0);
				$("#items_in_cart").text(0);
				location.reload()
            },
            error: function (response) {
            }
        });

    };
</script>
{% endblock after %}
