{% extends "base.html" %}

{% block title %}Products{% endblock title %}

{% block main %}

	{% for item in items %}
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
				<div class="panel panel-default my_panel">
					<div class="panel-body">
						<img src="{{ item.img_url }}" alt="{{ item.img_url }}" class="img-responsive center-block"/>
					</div>
					<div class="panel-footer">
						<h3>{{ item.name }}</h3>
						<h5 class="text-muted">{{ item.price[:-2] }}.{{ item.price[-2:] }}€</h5>
						<p>{{ item.desc }}</p>
						<a class="text-primary" href="#" onclick="add_to_cart('{{ item.id }}');">Add to cart <span class="glyphicon glyphicon-shopping-cart"></span></a>
					</div>
				</div>
			</div>
	{% endfor %}

{% endblock main %}

{% block after %}
<script>
	function add_to_cart(item_id)
    {
		event.preventDefault()
        $.ajax({
            url: '{{ root }}add_to_cart',
            type: 'POST',
            data: {
                item_id: item_id
            },
            success: function (response) {
				var counter = parseInt($("#items_in_cart_hidden").val());
				counter++;
				$("#items_in_cart_hidden").val(counter);
				$("#items_in_cart").text(counter);
            },
            error: function (response) {
            }
        });


    };
</script>
{% endblock after %}