<!DOCTYPE html>
<html lang="en">
<head>
  <title>Webshop | Cart</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
	ul.dropdown-menu {
		background-color: #333;
	}
	ul.dropdown-menu li a{
		background-color: #333;
		color: #9d9d9d;
	}
	ul.dropdown-menu li a:hover{
		background-color: #333;
		color: #fff;
	}
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Online Store</h1>      
    <p>Template by: <a href="https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_temp_store&stacked=w">w3schools</a></p>
  </div>
</div>

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			</button>
			<a class="navbar-brand" href="#">Logo</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="{{ root }}home">Home</a></li>
				<li><a href="{{ root }}products">Products</a></li>
				<li><a href="#">Deals</a></li>
				<li><a href="#">Stores</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right ">
				<li class="dropdown active">
					<a href="#" class="dropdown-toggle dropdown-header" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Your Account <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Dashboard</a></li>
						<li><a href="#">Orders</a></li>
						<li><a href="#">Settings</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Log out</a></li>
					</ul>
				</li>
				<li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart (<span id="items_in_cart">{{ cart }}</span>)</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">    
	<div class="row">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">Required Information</div>
			<br><br>
			<form class="form-horizontal" action = "{{ root }}signup" method = "post" >
				<div class="form-group">
					<label for="inputmail" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-7">
						<input type="email" class="form-control" id="inputmail" placeholder="Email">
					</div>
				</div><br>
				<div class="form-group">
					<label for="inputuname" class="col-sm-2 control-label">Username</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="inputuname" placeholder="Username">
					</div> <br><br>
					<label for="inputname" class="col-sm-2 control-label">First name</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="inputname" placeholder="First name">
					</div> <br><br>
					<label for="inputlastname" class="col-sm-2 control-label">Last name</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="inputlastname" placeholder="Last name">
					</div>
				</div><br>
				<div class="form-group">
					<label for="inputpassword" class="col-sm-2 control-label">Password</label>
					<div class="col-sm-7">
						<input type="password" class="form-control" id="inputpassword" placeholder="Password">
					</div> <br><br>
					<label for="inputpasswordconfirmation" class="col-sm-2 control-label">Confirm password</label>
					<div class="col-sm-7">
						<input type="password" class="form-control" id="inputpasswordconfirmation" placeholder="Confirm password">
					</div>
				</div><br>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Sign up</button>
					</div>
				</div>
			</form>
			
		</div>
	</div>
</div><br>

<br>

<footer class="container-fluid text-center">
	<p>Online Store Copyright</p>  
	<form action = "{{ root }}newsletter/apply" method = "post" class="form-inline">Abboniere meinen Newsletter:
		<input type = "email" class = "form-control" size = "50" placeholder="email@example.com" name="email">
		<input type = "submit" value = "Sign Up" class="btn btn-danger"/>
	</form>
</footer>

</body>
</html>
<script>
</script>
