{% extends "base.html" %}

{% block title %}Signup{% endblock title %}

{% block main %}

	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">Required Information</div>
		<br><br>
		<form class="form-horizontal" action = "{{ root }}signup" method = "post" >
			<div class="form-group">
				<label for="inputmail" class="col-sm-2 control-label">Email</label>
				<div class="col-sm-7">
					<input
						type="email"
						class="form-control"
						id="inputmail"
						placeholder="Email"
						name="inputmail"
						required
						pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$"
					>
				</div>
			</div><br>
			<div class="form-group">
				<label for="inputuname" class="col-sm-2 control-label">Username</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" id="inputuname" placeholder="Username" name="inputuname" required minlength="3" maxlength="12">
				</div> <br><br>
				<label for="inputname" class="col-sm-2 control-label">First name</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" id="inputname" placeholder="First name" name="inputname" required>
				</div> <br><br>
				<label for="inputlastname" class="col-sm-2 control-label">Last name</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" id="inputlastname" placeholder="Last name" name="inputlastname" required>
				</div>
			</div><br>
			<div class="form-group">
				<label for="inputpassword" class="col-sm-2 control-label">Password</label>
				<div class="col-sm-7">
					<input
						type="password"
						class="form-control"
						id="inputpassword"
						placeholder="Password"
						name="inputpassword"
						minlength="8"
						maxlength="99"
						pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
						title="Please include at least 1 uppercase character, 1 lowercase character, and 1 number."
						required
					>
				</div> <br><br>
				<label for="inputpasswordconfirmation" class="col-sm-2 control-label">Confirm Password</label>
				<div class="col-sm-7">
					<input
						type="password"
						class="form-control"
						id="inputpasswordconfirmation"
						placeholder="Password"
						name="inputpasswordconfirmation"
						minlength="8"
						maxlength="99"
						pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
						title="Please include at least 1 uppercase character, 1 lowercase character, and 1 number. Must be the same as Password"
						required
					>
				</div>
			</div><br>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Sign up</button>
				</div>
			</div>
		</form>
	</div>

{% endblock main %}